#logo {
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
}

.qwe {
    border: 2px solid red;
    height: auto;
}

.card {
    width: 200px;
}

.home {
    margin-top: 4cm;
}

.about {
    width: 100%;

}

.amtext{
    font-size: 30px;
    width: 100%;

}

.techstack {

}

.projects {

}

.contact {

}

.foot {
    width:100%;
    background-color:darkgray;
}


@media screen and (max-width: 425px) {
    body {
      background-color: black
    }

    * {
        color: white;
    }

    .amtext {
        font-size: 15px;
    }
  }