body {
    background-color: lightcoral;
    
}

h1 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 40px;
}

#mathusan {
    float:right;
    border-radius: 20%;

}